<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Worth It? needs camera access to take your profile photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Worth It? needs photo library access to choose your profile photo.</string>
</dict>
</plist>
